body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 186, 255);
}
.panel{
    padding: 20px ;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
@media (max-width: 960px) {
    .panel{
        flex-direction: column;
    }
    .pricing-plan{
        padding: 30px 50px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: 1px solid #e1f1ff;
    }
    .pricing-plan:last-child {
        border-bottom: none;
    }
}
@media (min-width: 960px) {
    .pricing-plan{
        padding: 30px 50px;
        text-align: center;
        text-transform: uppercase;
        border-right: 1px solid #e1f1ff;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}
.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}
h2{
    margin: 0px;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: medium;
}
.pricing-features{
    list-style: none;
    padding: 10px 0px;
}
.pricing-features-item:last-child{
    border-bottom: 1px solid #e1f1ff;
}

.pricing-features-item{
    font-size: 15px;
    padding: 15px 0px;
    color: #016ff9;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #e1f1ff;
}
.pricing-price{
    color: #016ff9; 
    display: block;
    font-size: 28px;
    font-weight: 700;
}
.pricing-button{
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out;
}
.pricing-button.is-featured{
    background-color:#348efe;
    color: white;
}

